<html>
  <head>
    {% block head %}
    <p>WTYEfagfbdhsa,fcb</p>
    <h1>{% block title %} <p>btw</p> {% endblock %} Base Template </h1>
    {% endblock %}
  </head>
  
  <body>
    {% block quote %}
    <p>this is the first paragraph from base.html</p>
    
    {% endblock %} 
    {% block wheel %}
    <p>This is a new wheel paragraph</p>
    {% endblock %}
    {% block body %}
    <p>This is a new body paragraph</p>
    {% endblock %}
    {% block engine %}
    <p>This is a new engine paragraph</p>
    {% endblock %}

  </body>
</html>
